<%- include("../partials/header") %>

<ul class="nav justify-content-center">
    <li class="nav-item">
        <h1>Points: <span id="points">0</span></h1>
    </li>
    <li class="nav-item">
        <h1>Lives: <span id="lives">5</span></h1>
    </li>
    <li class="nav-item">
        <h1 id ="stopWatch"><time>00:00:00</time></h1>
    </li>
  </ul>
<button style = "display:none" id="start">start</button>
<button style = "display:none" id="stop">stop</button>
<button style = "display:none" id="clear">clear</button>
<div class = "card">
    <canvas id="myCanvas" resize></canvas>
</div>


<%- include("../partials/footer") %>